@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@500;700&display=swap');

.create-password-container {
    width: 534px;
    background: transparent;
    color: white;
    display: flex;


    padding-left: 80px;
    padding-top: 64px;

    gap: 80px;
}

.create-pass-logo {
    max-width: 182.48px;
}

.create-pass-logo img {
    width: 100%;
}

.create-container {
    width: 534px;
    display: flex;
    flex-direction: column;
    gap: 48px;

}

.create-pass-heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.create-pass-heading h2 {
    font-family: 'Fustat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: left;
    margin: 0;
    color: white;
}

.create-pass-heading p {
    font-family: 'Fustat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin: 0;
    color: white;
}

.create-pass-form-input {
    width: 534px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    opacity: 1;
}

.create-pass-form-input input::placeholder {
    font-family: Fustat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #A7AEB7;
}

.create-pass-form-input input:focus {
    border: 1px solid #C6CFDB;
    outline: none;
    box-shadow: none;
}

.create-pass-form-input label {
    font-family: Fustat;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    margin-bottom: 0px;
    color: white;
}

.create-pass-button {
    width: 100%;
    padding: 16px 24px;
    background-color: #B6F9FF;
    color: #A5C2C5;
    border: none;
    border-radius: 4px;

    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Fustat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

}

.create-pass-button:hover {
    background-color: #9CF1FF;
    color: #A5C2C5;
}

.create-form-data {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

.passwordlength {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 0px 8px 0px;
}

.passwordlengthtext {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    font-weight: 400;
    font-size: 14px;
    color: #D3E8EA;

}

.passwordlengthtext span {
    font-family: Fustat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #D3E8EA;
}

.passwordlengthtext span strong {
    font-family: Fustat;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #A3F5FF;

}

.error-message {
    max-width: 171px;
    width: 100%;
    margin-top: 4px;
    padding: 4px;
    gap: 10px;
    display: flex;
    border-radius: 4px;
    opacity: 0px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, rgba(198, 0, 0, 0.15), rgba(198, 0, 0, 0.15));
}

.error-message span {
    font-family: Fustat;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #C60000
}
/* ---------------------------------------------------Changed Password Page Design---------------------------------------------------------- */

.changed-pasword-page{
    max-width: 534px;
    display: flex;
    flex-direction: column;
    gap: 48px;

}
.changed-pasword-page .changed-pass-heading{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.changed-pass-heading h1{
    font-family: Fustat;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: left;
  color: #FFFFFF;    
}
.changed-pass-heading p{
    font-family: Fustat;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #FFFFFF; 

}
.changed-pass-heading p .redirect-login{
    font-family: Fustat;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: #A3F5FF;
text-decoration: none;


}
.changed-pass-heading p .redirect-login:hover{
    text-decoration: underline;
}

.changed-password {
    width: 100%;
    padding: 16px 24px;
    background: #63ECFC;


    color: #1D6169;
    border: none;
    border-radius: 4px;

    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Fustat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}